body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
}

#gameboard {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    border-radius: 10px;
}

.square{
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid green;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px black;
}

.x {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.x:before, .x:after {
    content: "";
    position: absolute;
    background-color: red;
    box-shadow: 2px 2px 2px black;
}

.x:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.x:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}
